absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
asgiref==3.5.2
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.1.0
beautifulsoup4==4.12.2
blis==0.7.9
cachetools==5.3.0
catalogue==2.0.8
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
cloudpickle==2.2.1
colorama==0.4.6
confection==0.0.4
cryptography==39.0.0
cymem==2.0.7
datasets==2.11.0
decorator==4.4.2
deepface==0.0.79
dill==0.3.6
Django==4.1.4
django-cors-headers==3.13.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
dm-tree==0.1.8
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl
ffmpeg-python==0.2.0
filelock==3.10.7
fire==0.5.0
Flask==2.2.3
flatbuffers==23.3.3
frozenlist==1.3.3
fsspec==2023.4.0
future==0.18.3
fuzzywuzzy==0.18.0
gast==0.4.0
gdown==4.7.1
google-auth==2.17.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.54.0
gunicorn==20.1.0
h5py==3.8.0
huggingface-hub==0.13.3
idna==3.4
imageio==2.27.0
imageio-ffmpeg==0.4.8
itsdangerous==2.1.2
jax==0.4.8
Jinja2==3.1.2
joblib==1.2.0
kaggle==1.5.13
keras==2.12.0
langcodes==3.3.0
Levenshtein==0.20.9
libclang==16.0.0
llvmlite==0.39.1
Markdown==3.4.3
MarkupSafe==2.1.2
ml-dtypes==0.1.0
more-itertools==9.1.0
moviepy==1.0.3
mpmath==1.3.0
mtcnn==0.1.1
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
networkx==3.0
nltk==3.8.1
numba==0.56.4
numerizer==0.2.2
numpy==1.23.5
oauthlib==3.2.2
openai-whisper @ git+https://github.com/openai/whisper.git@b5851c6c40e753606765ac45b85b298e3ae9e00d
opencv-python==4.7.0.72
opendatasets==0.1.22
opt-einsum==3.3.0
packaging==23.0
pandas==1.5.3
parrot @ git+https://github.com/PrithivirajDamodaran/Parrot.git@720a87a1ee557d8ed8d9a021adbdd1dd5616c5f9
pathy==0.10.1
Pillow==9.4.0
preshed==3.0.8
proglog==0.1.10
protobuf==4.22.3
psycopg2==2.9.5
pyarrow==11.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==1.10.7
pydub==0.25.1
PyJWT==2.6.0
PySocks==1.7.1
python-dateutil==2.8.2
python-Levenshtein==0.20.9
python-slugify==8.0.1
pytz==2022.6
PyYAML==6.0
rapidfuzz==2.13.7
regex==2023.3.23
requests==2.28.2
requests-oauthlib==1.3.1
responses==0.18.0
retina-face==0.0.13
rsa==4.9
scikit-learn==1.2.2
scipy==1.10.1
sentence-transformers==2.2.2
sentencepiece==0.1.97
six==1.16.0
smart-open==6.3.0
soupsieve==2.4.1
spacy==3.5.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SpeechRecognition==3.10.0
sqlparse==0.4.3
srsly==2.4.6
sympy==1.11.1
tensorboard==2.12.2
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
tensorflow-probability==0.19.0
termcolor==2.2.0
text-unidecode==1.3
thinc==8.1.9
threadpoolctl==3.1.0
tiktoken==0.3.1
tokenizers==0.13.2
torch==2.0.0
torchvision==0.15.1
tqdm==4.65.0
transformers==4.27.3
typer==0.7.0
typing_extensions==4.5.0
tzdata==2022.7
urllib3==1.26.15
wasabi==1.1.1
Werkzeug==2.2.3
whisper==1.1.10
wrapt==1.14.1
xxhash==3.2.0
yarl==1.8.2
